hr {
  width: 720px;
  margin: auto;
}

details {
  margin: 5px 0;
}

li {
  margin: 8px 0;
}

summary {
  cursor: pointer;
}

.container {
  width: 720px;
}

.title {
  font-size: 32px;
  color: #539579;
  margin: 12px 0;
  padding: 0;
  font-weight: 600;
}

.content {
  margin: 25px 0px;
  padding: 0;
}

  .content b {
      font-size: 20px;
      color: #539579;
      margin: 12px 0;
      padding: 0;
  }

  .content p {
      font-size: 20px;
      margin: 4px 0;
      padding: 0;
  }

  .content a {
      text-decoration: none;
      color: #4c76ee;
  }

  .content h3 {
      margin: 12px 0;
      font-weight: 800;
  }

  .content ul li {
      font-size: 16px
  }